services:
  episeerr:
    build:
      context: .
      dockerfile: Dockerfile
    
    #env_file:
      #- .env
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
      - ./data:/app/data
      - ./temp:/app/temp
      - /home/joe/projects/spotify_shuffle:/spotify_shuffle
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "5002:5002"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=INFO
      - REQUIRE_AUTH=true
      - AUTH_USERNAME=admin
      - AUTH_PASSWORD=changeme
      - SECRET_KEY=supersecretkey
      #- AUTH_BYPASS_LOCALHOST=true
      #- AUTH_SESSION_TIMEOUT=86400
      #- SESSION_SECURE=false
    
